<header>
  <div class="container">
    <div class="header-left">
      <a href="/">nzm-blog</a>
    </div>
    <div class="header-right">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://github.com/imnzmhp"
          >GitHub <span class="fa fa-github"></span
        ></a>
        <div class="hamburger-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </div>
  </div>
  <div class="mobile-menu">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="https://github.com/imnzmhp"
      >GitHub <span class="fa fa-github"></span
    ></a>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/script.js"></script>
</header>
