<header>
  <div class="container">
    <div class="header-left">
      <a href="/">Yoshida Nozomu</a>
    </div>
    <div class="header-right">
      <nav>
        <a href="/">Home</a>
        <a href="/about">Profile</a>
        <a href="https://github.com/imnzmhp"
          ><span class="fa fa-github"></span
        ></a>
      </nav>
    </div>
  </div>
</header>
