a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: #808080;
  position: fixed;
  top: 0;
  z-index: 10;
}

header a {
  color: #fff;
}

.header-left {
  float: left;
}

.header-left a {
  font-size: large;
  font-weight: bold;
  line-height: 65px;
  padding: 0 25px;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-left a:hover {
  background-color: #f5f5f5;
}
.header-right a:hover {
  background-color: #f5f5f5;
}

.fa {
  margin-right: 5px;
}
